[Unit]
Description=unit-version of spawn-fcgi config
After=local_fs.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/spawn-fcgi
ExecStart=/bin/spawn-fcgi -n $OPTIONS

[Install]
WantedBy=multi-user.target
